input[type="text"] {
  position: fixed;
  width: 80%;
  height: 50px;
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  z-index: 10;
  bottom: 10%;
}
button {
  z-index: 5%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  bottom: 5%;
  width: 10%;
  height: 30px;
  align-items: center;
  background-color: blue;
  color: white;
}